<div ng-hide="isPending">
                              <strong>Your account is currently pending approval.</strong>
                            </div>
                            <div ng-hide="isNotApproved">
                              <strong>Unfortunately,we couldn't approve your account.Please contact the help desk for more information. </strong>
                            </div>