<!DOCTYPE html>
<html ng-app="product">
<head>
    <link rel="shortcut icon" href="images/support_images/icons/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="images/support_images/icons/favicon.ico" type="image/vnd.microsoft.icon">
    <title>Add Product | AmazonFresh</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/_style.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script type="text/javascript" src="js/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="js/ng-file-upload-shim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="Angularjs/productAngular.js"></script>

  <script href="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

</head>
<body>

<div class="container-fluid container-main" ng-controller="product">
    <% include ./partial/header %>
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <h1>Add Product</h1>
                <div class="thumbnail thumbnail-signup">
                    <form role="form">
                        <h3>
                            Product Details
                        </h3>
                        <!-- Changes made by Gaurav -->
                        <div class="row">
                          <div class="col-md-4">
                            <div class="thumbnail">
                              <img src="images/products/product-1.jpg"/>
                            </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="Image">
                                      Upload/Change Image
                                  </label>
                                  <p>
                                  <button class="btn btn-default btn-sm" onclick="$('#fileInput').click();">Change Picture</button>
                                  </p>
                                  <input
                                      id="fileInput"
                                      style="visibility:hidden"
                                      type="file"
                                      ngf-select
                                      ng-model="file"
                                      name="file"
                                      ngf-pattern="'image/*'"
                                      accept="image/*"
                                      ngf-max-size="20MB"
                                  />
                              </div>
                          </div>
                        </div>
                        <!-- __________________________ -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="productName">
                                        Product Name
                                    </label>
                                    <input type="text" class="form-control" id="productName" placeholder="Product Name" ng-model="productName"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="price">
                                        Price
                                    </label>
                                    <div class="input-group">
                                      <span class="input-group-addon">$</span>
                                      <input type="text" class="form-control" placeholder="Price" aria-label="Price">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="price">
                                        Number of Units
                                    </label>
                                    <div class="input-group">
                                      <span class="input-group-addon">For</span>
                                      <input type="text" class="form-control" placeholder="Number" aria-label="Price">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="unit">
                                        Unit for Product
                                    </label>
                                    <div class="input-group">
                                      <span class="input-group-addon">Unit</span>
                                      <select class="form-control">
                                        <option value="ea">ea (each)</option>
                                        <option value="lbs">lb (pound)</option>
                                        <option value="bu">bu (bunch)</option>
                                        <option value="other">Other</option>
                                      </select>
                                  </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="productDescription">
                                        Product Description
                                    </label>
                                    <textarea class="form-control add-prod-description"  placeholder="Product Description" ng-model="productDescription"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <button type="button" class="btn btn-primary btn-block btn-signup" ng-click="addProduct();">Add Product</button>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>
