<!DOCTYPE html>

<html lang="en">

<head>
  <link href="css/_style.css" rel="stylesheet">
  <link href="css/bootstrap.css" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->



  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

  <script src="angularjs/customerAccountAngular.js"></script>

  <link rel="shortcut icon" href="images/support_images/icons/favicon.ico" type="image/vnd.microsoft.icon">
  <link rel="icon" href="images/support_images/icons/favicon.ico" type="image/vnd.microsoft.icon">
  <title>Home | AmazonFresh</title>

</head>
<body ng-app="customerAccount" ng-controller="customerAccount">
  <div class="container-fluid container-main">
    <% include ./partial/headerLoggedIn %>

    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <span><h1>My Account Details</h1><h5>Click any detail to edit.</h5></span>
              </div>
            </div>
            <div class="thumbnail thumbnail-signup">
              <form role="form">
                <h3>
                  Personal Details
                </h3>
                <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="firstName">
                      First Name
                    </label>
                    <input type="text" class="form-control" id="firstName" maxlength="10" ng-model="userDetails.FIRST_NAME"
                     placeholder="First Name" value="{{userDetails.FIRST_NAME}}"/>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="lastName">
                      Last Name
                    </label>

                    <input type="text" class="form-control" id="lastName" maxlength="10" ng-model="userDetails.LAST_NAME" value="{{userDetails.LAST_NAME}}"  placeholder="Last Name"  />

                  </div>
                </div>
                </div>

                <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="ssn">
                      SSN
                    </label>

                    <input type="text" class="form-control" id="ssn" pattern="^d{3}-d{2}-d{4}$"
                            placeholder="###-##-####" ng-model="userDetails.SSN"  value="{{userDetails.SSN}}"/>

                  </div>
                </div>
                </div>
                <hr>

                <h3>
                  Sign-in Details
                </h3>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="exampleInputEmail">
                        Email address
                      </label>


                      <input type="email" class="form-control" id="exampleInputEmail"  placeholder="Email ID" ng-model="email"  value="{{email}}" disabled/>


                    </div>
                  </div>
                </div>
                <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputPassword1">
                      Password
                    </label>
                    <input type="password" class="form-control" id="exampleInputPassword1"  placeholder="Password" ng-model="password"/>

                    <div ng-hide="unexpectedError">
                      <strong>Unexpected error,try again</strong>
                    </div></br></br>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputPassword2">
                      Confirm Password
                    </label>
                    <input type="password" class="form-control" id="exampleInputPassword2"  placeholder="Confirm Password">
                  </div>
                </div>
                </div>


                <hr>

                <h3>
                  Address & Contact
                </h3>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="address">
                        Address
                      </label>
                      <textarea class="form-control textbox-address"  placeholder="Address" ng-model="userDetails.ADDRESS"  value="{{userDetails.ADDRESS}}"></textarea>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="city">
                        City
                      </label>
                      <input type="text" class="form-control" placeholder="City" ng-model="userDetails.CITY"  value="{{userDetails.CITY}}"/>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="state">
                        State
                      </label>
                      <input type="text" class="form-control" placeholder="State" ng-model="userDetails.STATE"  value="{{userDetails.STATE}}"/>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="zip">
                        Zip
                      </label>


                      <input type="text" class="form-control" placeholder="Zip" ng-model="userDetails.ZIP_CODE"  value="{{userDetails.ZIP_CODE}}"/>

                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputEmail">
                        Phone
                      </label>
                      <input type="text" class="form-control" placeholder="Phone" ng-model="userDetails.PHONE_NUMBER"  value="{{userDetails.PHONE_NUMBER}}"/>
                    </div>
                  </div>
                </div>



                <hr>
                <h3>Credit Card Details</h3>
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-6">
                    <div class="thumbnail thumbnail-credit-card">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="credit-card-labels-account">Card Number</label>
                              <input type="text" class="form-control" placeholder="Card Number" ng-model="customerDetails.CREDIT_CARD_DETAILS.CREDIT_CARD_NUMBER"  value="{{customerDetails.CREDIT_CARD_DETAILS.CREDIT_CARD_NUMBER}}"/>

                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="credit-card-labels-account">Name on the Card</label>
                              <input type="text" class="form-control" placeholder="Name on the Card" ng-model="customerDetails.CREDIT_CARD_DETAILS.CREDIT_CARD_NAME" value="{{customerDetails.CREDIT_CARD_DETAILS.CREDIT_CARD_NAME}}"/>

                          </div>
                        </div>
                      </div>

                      <div class="row">
                          <div class="form-group">

                            <div class="col-md-3">
                              <label class="credit-card-labels-account">Expiry Date</label>
                              <select class="form-control" id="sel1" ng-model="customerDetails.CREDIT_CARD_DETAILS.EXPIRY_MONTH" value="{{customerDetails.CREDIT_CARD_DETAILS.EXPIRY_MONTH}}" >
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                              </select>
                            </div>

                            <div class="col-md-4">
                              <label class="credit-card-labels-account">&nbsp;</label>
                              <select class="form-control" id="sel1" ng-model="customerDetails.CREDIT_CARD_DETAILS.EXPIRY_YEAR" value="{{customerDetails.CREDIT_CARD_DETAILS.EXPIRY_YEAR}}">
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                              </select>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-3">
                              <label class="credit-card-labels-account">CVV</label>
                                <input type="password" class="form-control" placeholder="CVV" ng-model="customerDetails.CREDIT_CARD_DETAILS.CVV" value="{{customerDetails.CREDIT_CARD_DETAILS.CVV}}"/>

                            </div>

                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3"></div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-8">
                      <button type="button" class="btn btn-primary btn-block btn-signup" ng-click="submit();">Update Details</button>

                  </div>
                  <div class="col-md-2"></div>
                </div>
              </form>
            </div>

          </div>
        </div>
    </div>
    <div class="col-md-1"></div>


  </div>





  <% include ./partial/footer %>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
