<!DOCTYPE html>

<html lang="en" ng-app="farmerDisplayAngular">

<head>


  <link href="../css/_style.css" rel="stylesheet">
  <link href="../css/bootstrap.css" rel="stylesheet">
  <link href="../css/signin.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->



    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
    <script src="../angularjs/farmerDisplayAngular.js"></script>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <script>app.value("farmerId",'<%= farmerId%>'); </script>





  <link rel="shortcut icon" href="../images/support_images/icons/favicon.ico" type="image/vnd.microsoft.icon">
  <link rel="icon" href="../images/support_images/icons/favicon.ico" type="image/vnd.microsoft.icon">
  <title>Amazon Fresh</title>
</head>

<body ng-controller="farmerDisplayAngular" ng-cloak>
  <div class="container-fluid nopadding">
  <div ng-hide="isLoggedIn">
    <div class="row">
      <div class="col-md-12">
          <ul class="nav nav-pills navbar-fixed-top header-nav">
              <li>
                  <a class="img-logo" href="/" id=""><img alt="AmazonFresh Home" src="../images/support_images/af-logo-white.png"><span></span></a>
              </li>
              <li class="text">
                  Already have an AmazonFresh<sup class="sup-plus">+</sup> account?
              </li>
              <li class="signin">
                  <a href="/signin">Sign in.</a>
              </li>
          </ul>
      </div>
    </div>
  </div>
  <div ng-show="isLoggedIn">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills navbar-fixed-top header-nav">
        <li>
            <a class="img-logo" href="/" id=""><img alt="AmazonFresh Home" src="../images/support_images/af-logo-white.png"><span></span></a>
        </li>
        <li class="dropdown">
               <a class="dropdown-toggle" data-toggle="dropdown">
                 Hi, {{firstName}} {{lastName}}<span></span><strong class="caret"></strong>
               </a>
              <ul class="dropdown-menu accout-dropdown-menu">
                <li>
                  <a href="#">Your Account</a>
                </li>
                <li>
                  <a href="#">Manage Your Dash</a>
                </li>
                <li>
                  <a href="#">Help</a>
                </li>
                <li class="divider">
                </li>
                <li>
                  <a href="/logout">Sign Out</a>
                </li>
              </ul>
        </li>
        <li>
            <a href="https://fresh.amazon.com/AllOrders">Your Deliveries</a>
        </li>
        <li>
            <a href="https://fresh.amazon.com/#" id="">Messages <span class="message-count"></span></a>
        </li>
        <li>
            <a href="https://fresh.amazon.com/MyList?ref_=nav_lists" id="">Your Lists</a>
        </li>
        <li>
            <a href="https://fresh.amazon.com/Favorites?ref_=nav_pp&amp;resultsPerPage=40" id="">Past Purchases</a>
        </li>
        </ul>

      </div>
    </div>

  </div>

  <div class="container-fluid container-main">
    	<div class="row row-margin">
        <div class="col-md-9">
          <div class="row">
    					<ul class="nav navbar-nav">
                <div class="col-md-2">
    						<li class="dropdown">
    							 <button class="btn btn-default btn-shop" href="#" class="dropdown-toggle" data-toggle="dropdown">
                     Shop<strong class="caret caret-btn-shop pull-right"></strong>
                   </button>
    							<ul class="dropdown-menu">
    								<li>
    									<a href="#">Cat 1</a>
    								</li>
    								<li>
    									<a href="#">Cat 2</a>
    								</li>
    								<li>
    									<a href="#">Cat 3</a>
    								</li>
    								<li>
    									<a href="#">Cat 4</a>
    								</li>
    							</ul>
    						</li>
                </div>
                <div class="col-md-10">
                <li>
                  <div class="input-group">
                    <input type="text" class="form-control"/>
                    <span class="input-group-addon fa-serch-btn">
                      <i class="fa fa-search">Go</i>
                    </span>
                  </div>
                </li>
                </div>
              </ul>
            </div>

            <div class="row row-margin">
              <div class="col-md-12">
                <ol class="breadcrumb">
                  <li><a href="/" class="inactive">Home</a></li>
                  <li><a href="#" class="active">Farmer: "{{farmerFirstName}}  {{farmerLastName}}"</a></li>
                </ol>
              </div>
            </div>

          <div class="row row-margin">
        		<div class="col-md-4">
              <div class="">
                <img ng-src="../uploads/{{farmerImage}}" />
              </div>
            </div>
            <div class="col-md-8">
              <h1 class="product-page-product-name">
                   {{farmerFirstName}} {{farmerLastName}}
              </h1>
              <div class="product-page-ratings-img">
                <img src="../images/support_images/{{farmerAverageRating}}-stars.png"/>
                  ({{farmerAverageRating}})
              </div>
              <p>{{farmerAddress}}</p>
              <p>{{farmerCity}}, {{farmerState}} {{farmerZip}}</p>

            </div>
          </div>

          <div class="row row-margin">
            <div class="col-md-12">
              <hr class="product-page-seperator">
                <h3>About {{farmerFirstName}} {{farmerLastName}}</h2>
                <p>{{farmerIntroductionDetails}}</p>
            </div>
          </div>
          <div class="row row-margin">
            <div class="col-md-12">
              <hr class="product-page-seperator">
                <h3>Introduction Video</h2>
                <div class="col-md-8">
                  <div class="thumbnail">
                      <video ng-src="{{videoResourceUrl()}}" type="video/mp4"  autoplay="autoplay" preload="auto" height="100%" width="100%" controls>
                      </video>
                  </div>
                </div>
            </div>
          </div>
          <div class="row row-margin">
            <div class="col-md-12">
              <hr class="product-page-seperator">
                <h3>Reviews & Ratings</h2>
                  <!-- if no reviews -->
                    <div ng-show=isLoggedIn>
                  <h6 ng-show="noReview">There are no customer reviews yet.  Add a Review</h6>
                  <button id="modal-649609" href="#modal-container-649609" role="button" data-toggle="modal" ng-disabled="!isLoggedIn || (userType!=1)" class="btn btn-xs" >Add Review</button>
                        </div>
                  <!-- If reviews are available -->

                  <div class="product-page-user-reviews" ng-repeat = "review in farmerReviewDetails | orderBy : '-TIMESTAMP'">
                   <hr class="product-page-seperator">
                    <span><img src="../images/support_images/{{review.RATINGS}}-stars.png" /></span>
                    <span><strong>{{review.TITLE}}</strong></span>
                    <p class="product-page-review-by">
                      By <a>{{review.CUSTOMER_NAME}}</a> on {{review.REVIEWDATE}}
                    </p>
                    <p>
                      {{review.REVIEW}}
                    </p>

                  </div>
            </div>
          </div>
    	</div>

    </div>
  </div>
</div>

<!-- __________________________________________REVIEW MODAL_____________________________________________ -->
<div class="row">
		<div class="col-md-12">
			 <a></a>

			<div class="modal fade" id="modal-container-649609" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">

							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
							<h4 class="modal-title" id="myModalLabel">
								Write a Review for {{farmerFirstName}} {{farmerLastName}}
							</h4>
						</div>
						<div class="modal-body">
            <form name="reviewForm">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="rating">
                      Your Rating
                    </label>
                    <fieldset class="rating">
                      <input type="radio" id="star5" ng-model="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
                      <input type="radio" id="star4" ng-model="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
                      <input type="radio" id="star3" ng-model="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
                      <input type="radio" id="star2" ng-model="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
                      <input type="radio" id="star1" ng-model="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                    </fieldset>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="title">
                      Title
                    </label>
                    <input type="text" class="form-control" placeholder="Title..." ng-model="title"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="review">
                      Review
                    </label>
                    <textarea class="form-control textbox-address"  placeholder="Write your review here..." ng-model="review"  ng-required="reviewReq;"></textarea>
                    <span ng-show="reviewForm.review.$touched && reviewForm.review.$invalid">Please enter the review.</span>
                  </div>
                </div>
              </div>
						</div>

							<div class="_9b5ef6-textarea_btn _9b5ef6-not_focused">
								<div class="_9b5ef6-transform_wrap">
									<div class="_9b5ef6-status">
									</div>
								</div>
							</div>

						<div class="modal-footer">

							<button type="button" class="btn btn-default" data-dismiss="modal">
								Cancel
							</button>
							<button type="submit" class="btn btn-primary btn-primary-theme" data-dismiss="modal" ng-disabled="reviewForm.$invalid" ng-click="addReview(farmerUserId,farmerAverageRating)">
								Submit Review
							</button>
						</div>
            </form>
					</div>

				</div>

			</div>

		</div>
	</div>

  <% include ./partial/footer %>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>
