<!DOCTYPE html>

<html lang="en">

<head>
  <link href="css/_style.css" rel="stylesheet">
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/signin.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!--Angular js scripts-->
  <script href="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  
  <link rel="shortcut icon" href="images/support_images/icons/favicon.ico" type="image/vnd.microsoft.icon">
  <link rel="icon" href="images/support_images/icons/favicon.ico" type="image/vnd.microsoft.icon">
  <title>Home | AmazonFresh</title>
</head>

<body>
<div class="container-fluid nopadding">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills navbar-fixed-top header-nav">
        <li>
          <a class="img-logo" href="/" id=""><img alt="AmazonFresh Home" src="images/support_images/af-logo-white.png"><span></span></a>
        </li>
        <li class="text">
          Already an AmazonFresh customer?
        </li>
        <li class="signin">
          <a href="#modal-container-748235" data-toggle="modal">Sign in.</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container-fluid container-main">
    <div class="row row-margin">
      <div class="col-md-9">
        <div class="row">
          <ul class="nav navbar-nav">
            <div class="col-md-2">
              <li class="dropdown">
                <button class="btn btn-default btn-shop" href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Shop<strong class="caret caret-btn-shop pull-right"></strong>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#">Cat 1</a>
                  </li>
                  <li>
                    <a href="#">Cat 2</a>
                  </li>
                  <li>
                    <a href="#">Cat 3</a>
                  </li>
                  <li>
                    <a href="#">Cat 4</a>
                  </li>
                </ul>
              </li>
            </div>
            <div class="col-md-10">
              <li>
                <div class="input-group">
                  <input type="text" class="form-control"/>
                    <span class="input-group-addon fa-serch-btn">
                      <i class="fa fa-search">Go</i>
                    </span>
                </div>
              </li>
            </div>
          </ul>
        </div>

          <div class="row row-margin">
          <div class="col-md-12">
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li><a href="#">Cat1</a></li>
              <li class="active">Subcat1</li>
            </ol>
          </div>
          </div>

          <div class="row row-margin">
            <div class="col-md-2">
            </div>
        		<div class="col-md-10">
        			<div class="carousel slide" id="carousel-795683">
        				<ol class="carousel-indicators">
        					<li class="active" data-slide-to="0" data-target="#carousel-795683">
        					</li>
        					<li data-slide-to="1" data-target="#carousel-795683">
        					</li>
        					<li data-slide-to="2" data-target="#carousel-795683">
        					</li>
        				</ol>
        				<div class="carousel-inner">
        					<div class="item active">
        						<img alt="Carousel Bootstrap First" src="images/promotion_images/carousel/car1.jpg" />
        					</div>
        					<div class="item">
        						<img alt="Carousel Bootstrap Second" src="images/promotion_images/carousel/car2.jpg" />
        					</div>
        					<div class="item">
        						<img alt="Carousel Bootstrap Third" src="images/promotion_images/carousel/car3.jpg" />
        					</div>
        				</div>
                  <a class="left carousel-control" href="#carousel-795683" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span></a>
                  <a class="right carousel-control" href="#carousel-795683" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span></a>
        			</div>
              <div class="row row-margin"></div>
              <div class="row row-margin">
                  <div class="col-md-3">
                    <center><hr></hr></center>
                  </div>
                  <div class="col-md-6">
                    <center class="font-italic">Shop Local Farmers Market Selections</center>
                  </div>
                  <div class="col-md-3">
                    <div><hr></hr></div>
                  </div>
              </div>

              <div class="row row-margin">
                <div class="col-md-4">
                  <div class="thumbnail">
                    <div class="thumbnail-image">
                      <img alt="Leafy Greens" src="images/category/tile-leafygreens.jpg"/>
                      <span class="img-desc">LEAFY GREENS > </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                  <div class="thumbnail-image">
                    <img alt="Squash" src="images/category/tile-squash.jpg"/>
                    <span class="img-desc">SQUASH > </span>
                  </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                  <div class="thumbnail-image">
                    <img alt="Cabbage" src="images/category/tile-cabbage.jpg"/>
                    <span class="img-desc">CABBAGE > </span>
                  </div>
                  </div>
                </div>
              </div>
              <div class="row row-margin">
                <div class="col-md-4">
                  <div class="thumbnail">
                  <div class="thumbnail-image">
                    <img alt="Fresh Herbs" src="images/category/tile-freshherbs.jpg"/>
                    <span class="img-desc">FRESH HERBS > </span>
                  </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                  <div class="thumbnail-image">
                    <img alt="Root Vegetables" src="images/category/tile-root.jpg"/>
                    <span class="img-desc">ROOT VEGETABLES > </span>
                  </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                  <div class="thumbnail-image">
                    <img alt="Produce Bundles" src="images/category/tile-produce.jpg"/>
                    <span class="img-desc">PRODUCE BUNDLES > </span>
                  </div>
                  </div>
                </div>
              </div>
              <div class="row row-margin">
                <div class="col-md-4">
                  <div class="thumbnail">
                  <div class="thumbnail-image">
                    <img alt="Jams" src="images/category/tile-jam.jpg"/>
                    <span class="img-desc">JAMS > </span>
                  </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                  <div class="thumbnail-image">
                    <img alt="Chutneys" src="images/category/tile-chutney.jpg"/>
                    <span class="img-desc">CHUTNEYS > </span>
                  </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                  <div class="thumbnail-image">
                    <img alt="Farmbox SF" src="images/category/tile-farmboxsf.jpg"/>
                    <span class="img-desc">FARMBOX SF > </span>
                  </div>
                  </div>
                </div>
              </div>

          </div>

       </div>
    	</div>
      <div class="col-md-3">
        <div class="row">
          <strong class="">Great news, we deliver to your area.</strong>
          AmazonFresh is available exclusively to Prime Fresh members in eligible zip codes.
        </div>
        <div class="row">
          <button class="btn btn-sm btn-block btn-signin" id="modal-748235" href="#modal-container-748235" role="button" data-toggle="modal">
            Sign In
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- _________________________________________________LOGIN MODAL____________________________________________ -->
<script src="angularjs/login.js"></script>
<div  ng-app="login" ng-controller="login">
  <div class="modal fade" id="modal-container-748235" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="a-section a-padding-medium auth-workflow container-fluid">
            <div class="a-section">
              <!-- show a warning modal dialog when the third party account is connected with Amazon -->
              <div class="a-section a-spacing-base auth-pagelet-container">
                <div class="a-section">
                  <form action="" class="a-spacing-none" id="signIn" method="post" name="signIn" novalidate="">
                    <div class="a-section">
                      <div class="a-box">
                        <div class="a-box-inner a-padding-extra-large">
                          <h1 class="a-spacing-small">Sign in</h1>
                          <div class="a-row a-spacing-base">
                            <label for="ap_email">Email ID</label>
                            <input class="a-input-text a-span12 auth-autofocus auth-required-field"
                                   id="ap_email" maxlength="128" name="email" tabindex="1" type="email" ng-model="email">
                          </div>
                          <div class="a-section a-spacing-large">
                            <div class="a-row">
                              <div class="a-column a-span5">
                                <label for="ap_password">Password</label>
                              </div>
                              <div class="a-column a-span7 a-text-right a-span-last">
                                <a class="a-spacing-null a-link-normal" href=
                                "/forgotPassword"
                                   id="auth-fpp-link-bottom">Forgot your password?</a>
                              </div>
                            </div>
                            <input class="a-input-text a-span12 auth-required-field" id="ap_password" name="password" tabindex="2" type="password" ng-model="password">
                            <div  ng-hide="invalidLogin">
                              <strong>Incorrect username or password</strong>
                            </div>

                            <div ng-hide="unexpectedError">
                              <strong>Unexpected error,try again</strong>
                            </div>
                          </div>
                          <div class="a-section a-spacing-extra-large">
                                                <span class="a-button a-button-span12 a-button-primary" id="a-autoid-0"><span class="a-button-inner"><input aria-labelledby=
                                                "a-autoid-0-announce" class="a-button-input" id="signInSubmit" tabindex="5" type="submit"> <span aria-hidden="true" class=
                                                "a-button-text" id="a-autoid-0-announce">Sign in</span></span></span>
                                            </div>
                                            <div class="panel panel-danger login-error" ng-show=true >Wrong Username or Password.</div>

                                            <div class="a-divider a-divider-break">
                                                <h5>New to Amazon?</h5>
                                            </div>
                                            <span class="a-button a-button-span12" id="auth-create-account-link">
                                              <span class="a-button-inner">
                                              <a class="a-button-text" href="/signUp" id="createAccountSubmit" role="button" tabindex="6">
                                                Create your Amazon account
                                              </a>
                                            </span>
                                          </span>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>
