<!DOCTYPE html>

<html lang="en" ng-app="productDisplayAngular">

<head>


  <link href="../css/_style.css" rel="stylesheet">
  <link href="../css/bootstrap.css" rel="stylesheet">
  <link href="../css/signin.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->



    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

    <script src="../angularjs/productDisplayAngular.js"></script>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <script>productDisplayAngular.value("sendProductId",'<%=sendProductId%>'); </script>





  <link rel="shortcut icon" href="../images/support_images/icons/favicon.ico" type="image/vnd.microsoft.icon">
  <link rel="icon" href="../images/support_images/icons/favicon.ico" type="image/vnd.microsoft.icon">
  <title>Home | {{displayProductDetails.PRODUCT_NAME}}</title>
</head>

<body ng-controller="ProductDisplayAngular" ng-cloak>
  <div class="container-fluid nopadding">
  <div ng-hide="isLoggedIn">
    <div class="row">
      <div class="col-md-12">
          <ul class="nav nav-pills navbar-fixed-top header-nav">
              <li>
                  <a class="img-logo" href="/" id=""><img alt="AmazonFresh Home" src="../images/support_images/af-logo-white.png"><span></span></a>
              </li>
              <li class="text">
                  Already have an AmazonFresh<sup class="sup-plus">+</sup> account?
              </li>
              <li class="signin">
                  <a href="/signin">Sign in.</a>
              </li>
          </ul>
      </div>
    </div>
  </div>
  <div ng-show="isLoggedIn">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills navbar-fixed-top header-nav">
        <li>
            <a class="img-logo" href="/" id=""><img alt="AmazonFresh Home" src="../images/support_images/af-logo-white.png"><span></span></a>
        </li>
        <li class="dropdown">
               <a class="dropdown-toggle" data-toggle="dropdown">
                 Hi, {{firstName}} {{lastName}}<span></span><strong class="caret"></strong>
               </a>
              <ul class="dropdown-menu accout-dropdown-menu">
                <li>
                  <a href="#">Your Account</a>
                </li>
                <li>
                  <a href="#">Manage Your Dash</a>
                </li>
                <li>
                  <a href="#">Help</a>
                </li>
                <li class="divider">
                </li>
                <li>
                  <a href="/logout">Sign Out</a>
                </li>
              </ul>
        </li>
        <li>
            <a href="https://fresh.amazon.com/AllOrders">Your Deliveries</a>
        </li>
        <li>
            <a href="https://fresh.amazon.com/#" id="">Messages <span class="message-count"></span></a>
        </li>
        <li>
            <a href="https://fresh.amazon.com/MyList?ref_=nav_lists" id="">Your Lists</a>
        </li>
        <li>
            <a href="https://fresh.amazon.com/Favorites?ref_=nav_pp&amp;resultsPerPage=40" id="">Past Purchases</a>
        </li>
        </ul>

      </div>
    </div>

  </div>

  <div class="container-fluid container-main">
    	<div class="row row-margin">
        <div class="col-md-9">
          <div class="row">
    					<ul class="nav navbar-nav">
                <div class="col-md-2">
    						<li class="dropdown">
    							 <button class="btn btn-default btn-shop" href="#" class="dropdown-toggle" data-toggle="dropdown">
                     Shop<strong class="caret caret-btn-shop pull-right"></strong>
                   </button>
    							<ul class="dropdown-menu">
    								<li>
    									<a href="#">Cat 1</a>
    								</li>
    								<li>
    									<a href="#">Cat 2</a>
    								</li>
    								<li>
    									<a href="#">Cat 3</a>
    								</li>
    								<li>
    									<a href="#">Cat 4</a>
    								</li>
    							</ul>
    						</li>
                </div>
                <div class="col-md-10">
                <li>
                  <div class="input-group">
                    <input type="text" class="form-control"/>
                    <span class="input-group-addon fa-serch-btn">
                      <i class="fa fa-search">Go</i>
                    </span>
                  </div>
                </li>
                </div>
              </ul>
            </div>

          <div class="row row-margin">
          <div class="col-md-12">
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li><a href="#">Cat1</a></li>
              <li class="active">Subcat1</li>
            </ol>
          </div>
          </div>

          <div class="row row-margin">
        		<div class="col-md-4">
              <div class="">
                <img ng-src="../uploads/{{displayProductDetails.FILE_NAME}}" />
              </div>
            </div>
            <div class="col-md-8">
              <h1 class="product-page-product-name">
                  {{displayProductDetails.PRODUCT_NAME}}, {{displayProductDetails.UNIT}} oz
              </h1>
              <span class="product-page-other-products-by">Other products by </span>
              <span class="product-page-farmer-name"><a href="/farmerID">{{farmerName}}</a></span>
              <div class="product-page-ratings-img">
                <img src="../images/support_images/0-stars.png"/>
                (0)
              </div>
              <div class="product-page-price">
                <span class="price">{{displayProductDetails.PRICE}}</span>
                <span class="unit-price">($0.77/oz)</span>
              </div>
              <div class="product-page-add">
                <button class="btn btn-primary btn-add" enabled="isLoggedIn" ng-click="addToCart(displayProductDetails._id)">Add to Cart</button>
                <span ng-hide="isLoggedIn"><a href="#modal-container-748235" data-toggle="modal">Sign In</a> to Shop.</span>
              </div>
            </div>
          </div>

          <div class="row row-margin">
            <div class="col-md-12">
              <hr class="product-page-seperator">
                <h3>Product Description</h2>
                <p>{{displayProductDetails.PRODUCT_DESCRIPTION}}</p>
            </div>
          </div>
          <div class="row row-margin">
            <div class="col-md-12">
              <hr class="product-page-seperator">
                <h3>Product Details</h2>
                <p><strong>ASIN:</strong>{{displayProductDetails._id}}</p>
            </div>
          </div>
          <div class="row row-margin">
            <div class="col-md-12">
              <hr class="product-page-seperator">
                <h3>Reviews & Ratings</h2>
                  <!-- if no reviews -->
                  <h6>There are no customer reviews yet.  Add a Review</h6>
                  <button class="btn btn-xs">Add Review</button>

                  <!-- If reviews are available -->

                  <div class="product-page-user-reviews">
                    <span><img src="../images/support_images/3-stars.png" /></span>
                    <span><strong>Really Awesome product.</strong></span>
                    <p class="product-page-review-by">
                      By <a>John Doe</a> on April 18, 2016
                    </p>
                    <p>
                      This is the platonic form of a USB sound card. It works well in Windows XP and Mac OS X, has clearly labeled inputs, decent build quality, and has no unnecessary features, at a very affordable price. We bought it to use stereo jack headsets with Skype on Mac computers that don't have microphone jacks, and this adapter fits our needs exactly. This also resolves a problem we have when using Windows XP on our iMacs - Apple doesn't provide the correct sound drivers in Boot Camp, and the built-in iMac headphone jack doesn't work in Windows - the USB adapter works perfectly.
                    </p>
                  </div>
                  <div class="product-page-user-reviews">
                    <span><img src="../images/support_images/3-stars.png" /></span>
                    <span><strong>Really Awesome product.</strong></span>
                    <p class="product-page-review-by">
                      By <a>John Doe</a> on April 18, 2016
                    </p>
                    <p>
                      This is the platonic form of a USB sound card. It works well in Windows XP and Mac OS X, has clearly labeled inputs, decent build quality, and has no unnecessary features, at a very affordable price. We bought it to use stereo jack headsets with Skype on Mac computers that don't have microphone jacks, and this adapter fits our needs exactly. This also resolves a problem we have when using Windows XP on our iMacs - Apple doesn't provide the correct sound drivers in Boot Camp, and the built-in iMac headphone jack doesn't work in Windows - the USB adapter works perfectly.
                    </p>
                  </div>
                  <div class="product-page-user-reviews">
                    <span><img src="../images/support_images/3-stars.png" /></span>
                    <span><strong>Really Awesome product.</strong></span>
                    <p class="product-page-review-by">
                      By <a>John Doe</a> on April 18, 2016
                    </p>
                    <p>
                      This is the platonic form of a USB sound card. It works well in Windows XP and Mac OS X, has clearly labeled inputs, decent build quality, and has no unnecessary features, at a very affordable price. We bought it to use stereo jack headsets with Skype on Mac computers that don't have microphone jacks, and this adapter fits our needs exactly. This also resolves a problem we have when using Windows XP on our iMacs - Apple doesn't provide the correct sound drivers in Boot Camp, and the built-in iMac headphone jack doesn't work in Windows - the USB adapter works perfectly.
                    </p>
                  </div>
            </div>
          </div>
    	</div>
      <div class="col-md-3" ng-show=true>
          <div class="row">
            <strong class="">Great news, we deliver to your area.</strong>
            AmazonFresh is available exclusively to Prime Fresh members in eligible zip codes.
          </div>
          <div class="row" ng-hide="isLoggedIn">
            <button class="btn btn-sm btn-block btn-signin" id="modal-748235" href="#modal-container-748235" role="button" data-toggle="modal">
              Sign In
            </button>
        </div>

        <div class="row" ng-show=true>
          <div class="thumbnail">
						<div class="caption">
              <span class="bill-deliver-to">Deliver to <strong>{{firstName}} {{lastName}}-{{city}}</strong></span>
							<button class="btn btn-primary btn-block btn-proceed-to-checkout" enabled="isLoggedIn">Proceed to Checkout</button>
              <div ng-show="cart.length==0">
                <center>Add products to Cart to checkout.</center>
              </div>
              <p>
                  <span class="bill-subtotal">Subtotal $0.00</span><span class="bill-items pull-right">(0 Items)</span>
                  <hr class="product-page-seperator"/>
              </p>

              <div ng-show="cart.length==0">
                <p>
                    There are currently no items in your cart. You can add an item by clicking on any <strong>Add to cart</strong> button.
                  <hr class="product-page-seperator"/>
                </p>
              </div>

              <!-- Items in the cart -->
              <div class="panel panel-default bill-cart" ng-repeat = "item in cart"> <!-- This will have ng-repeat. Remove the hardcoded items -->
                <div class="row">
                  <div class="col-md-2 bill-cart-qty-pad">
                    <span class="bill-cart-qty-title">Qty</span>
                    <select class="form-control bill-cart-qty" ng-model="item.QTY">
                      <option ng-selected="item.QTY == 1">1</option>
                      <option ng-selected="item.QTY == 2">2</option>
                      <option ng-selected="item.QTY == 3">3</option>
                      <option ng-selected="item.QTY == 4">4</option>
                      <option ng-selected="item.QTY == 5">5</option>
                    </select>
                  </div>
                  <div class="col-md-8 bill-cart-item-pad">
                    <div class="media">
                      <a href="#" class="pull-left"><img alt="" src="../uploads/{{item.FILE_NAME}}" class="media-object bill-item-img"/></a>
                      <div class="media-body">
                          <a class="bill-cart-item-name">{{item.PRODUCT_NAME}}</a>
                        <h6>
                            <span class="bill-cart-item-price">${{item.PRICE}}</span>
                        </h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 bill-cart-remove-pad">
                    <img class="bill-cart-remove-item" src="../images/support_images/remove-item.png" ng-click="removeItemFromCart($index);" alt="x" />
                  </div>
                </div>
              </div>

            </div>
					</div>
        </div>

      </div>
    </div>
  </div>
</div>



<!-- _________________________________________________LOGIN MODAL____________________________________________ -->
<div class="modal fade" id="modal-container-748235" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="a-section a-padding-medium auth-workflow container-fluid">
                <div class="a-section">
                    <!-- show a warning modal dialog when the third party account is connected with Amazon -->
                    <div class="a-section a-spacing-base auth-pagelet-container">
                        <div class="a-section">
                            <form action="" class="a-spacing-none" id="signIn" method="post" name="signIn" novalidate="">
                                <div class="a-section">
                                    <div class="a-box">
                                        <div class="a-box-inner a-padding-extra-large">
                                            <h1 class="a-spacing-small">Sign in</h1>
                                            <div class="a-row a-spacing-base">
                                                <label for="ap_email">Email ID</label>
                                                <input class="a-input-text a-span12 auth-autofocus auth-required-field"
                                                id="ap_email" maxlength="128" name="email" tabindex="1" type="email">
                                            </div>
                                            <div class="a-section a-spacing-large">
                                                <div class="a-row">
                                                    <div class="a-column a-span5">
                                                        <label for="ap_password">Password</label>
                                                    </div>
                                                    <div class="a-column a-span7 a-text-right a-span-last">
                                                        <a class="a-spacing-null a-link-normal" href=
                                                        "/forgotPassword"
                                                        id="auth-fpp-link-bottom">Forgot your password?</a>
                                                    </div>
                                                </div>
                                                <input class="a-input-text a-span12 auth-required-field" id="ap_password" name="password" tabindex="2" type="password">
                                            </div>
                                            <div class="a-section a-spacing-extra-large">
                                                <span class="a-button a-button-span12 a-button-primary" id="a-autoid-0"><span class="a-button-inner"><input aria-labelledby=
                                                "a-autoid-0-announce" class="a-button-input" id="signInSubmit" tabindex="5" type="submit"> <span aria-hidden="true" class=
                                                "a-button-text" id="a-autoid-0-announce">Sign in</span></span></span>
                                            </div>
                                            <div class="panel panel-danger login-error" ng-show=true >Wrong Username or Password.</div>

                                            <div class="a-divider a-divider-break">
                                                <h5>New to Amazon?</h5>
                                            </div>
                                            <span class="a-button a-button-span12" id="auth-create-account-link">
                                              <span class="a-button-inner">
                                              <a class="a-button-text" href="/signUp" id="createAccountSubmit" role="button" tabindex="6">
                                                Create your Amazon account
                                              </a>
                                            </span>
                                          </span>
                                    </div>
                                </div>
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
          <div class="col-md-2"></div>
        </div>
    </div>
</div>



  <% include ./partial/footer %>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>
