#left_nav ul {
    padding: 0px;
    margin: 0px;
}

.main_nav {
    font-size: 12px;
    line-height: 18px;
    display: block;
    margin: 0px;
   }

a:visited {
	color : #669900;
}

#left-nav a {
	text-decoration: none;
	color : #4d4d4d;
	font-size: 14px
}

.level1{
	color: #4d4d4d;
    font-weight: bold;
    margin-bottom: 8px
}

#left-nav a:hover{
	color:#669900;
}

.btn-product-edit{
  font-size: 11px;
    padding: 4px 0px;
    width: 77px;
    right: auto;
    top: auto;
    position: static;
    height: 24px;
    margin: 0px;
    float: left;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    border-color: #bbcc9a #7e9947 #669900;
    background: linear-gradient(to bottom, #d0de9f 0%,#8fc12b 100%);
    border-radius: 3px;
    border: 1px solid;
    color: #333;
    cursor: pointer;
}

.span-detail{
	font-size: 21px
}
