<!DOCTYPE html>

<html lang="en">

<head>
  <link href="css/_style.css" rel="stylesheet">
  <link href="css/bootstrap.css" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->


  <script href="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

  <link rel="shortcut icon" href="images/support_images/icons/favicon.ico" type="image/vnd.microsoft.icon">
  <link rel="icon" href="images/support_images/icons/favicon.ico" type="image/vnd.microsoft.icon">
  <title>Home | AmazonFresh</title>

</head>
<body>
  <div class="container-fluid nopadding">
  <div class="row">

      <div class="col-md-12">
        <ul class="nav nav-pills navbar-fixed-top header-nav">
        <li>
            <a href="/" id=""><img alt="AmazonFresh Home" src="images/support_images/af-logo-white.png"><span></span></a>
        </li>
        <li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                 Hi, Gaurav Chodwadia<span></span><strong class="caret"></strong>
               </a>
							<ul class="dropdown-menu accout-dropdown-menu">
								<li>
									<a href="#">Your Account</a>
								</li>
								<li>
									<a href="#">Manage Your Dash</a>
								</li>
								<li>
									<a href="#">Help</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">Sign Out</a>
								</li>
							</ul>
				</li>
        <li>
            <a href="https://fresh.amazon.com/AllOrders">Your Deliveries</a>
        </li>
        <li>
            <a href="https://fresh.amazon.com/#" id="">Messages <span class="message-count"></span></a>
        </li>
        <li>
            <a href="https://fresh.amazon.com/MyList?ref_=nav_lists" id="">Your Lists</a>
        </li>
        <li>
            <a href="https://fresh.amazon.com/Favorites?ref_=nav_pp&amp;resultsPerPage=40" id="">Past Purchases</a>
        </li>
    </ul>

      </div>
  </div>
  </div>


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
