 <div class="row" >
            <div class="col-md-12">
                <h1>Add Product</h1>
                <div class="thumbnail thumbnail-signup">
                    <form role="form">
                        <h3>
                            Product Details
                        </h3>
                        <div class="row">
                          <div class="col-md-4">
                            <div class="thumbnail">
                              <img src="images/products/product-1.jpg"/>
                            </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="Image">
                                      Upload/Change Image
                                  </label>
                                  <p>
                                  <button class="btn btn-default btn-sm" onclick="$('#fileInput').click();">Change Picture</button>
                                  </p>
                                  <input
                                      id="fileInput"
                                      style="visibility:hidden"
                                      type="file"
                                      ngf-select
                                      ng-model="file"
                                      name="file"
                                      ngf-pattern="'image/*'"
                                      accept="image/*"
                                      ngf-max-size="20MB"
                                  />
                              </div>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="productName">
                                        Product Name
                                    </label>
                                    <input type="text" class="form-control" id="productName" placeholder="Product Name" ng-model="productName"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="price">
                                        Price
                                    </label>
                                    <div class="input-group">
                                      <span class="input-group-addon">$</span>
                                      <input type="text" class="form-control" placeholder="Price" aria-label="Price" ng-model="price">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="price">
                                        Number of Units
                                    </label>
                                    <div class="input-group">
                                      <span class="input-group-addon">For</span>
                                      <input type="text" class="form-control" placeholder="Number" aria-label="Price" ng-model="noOfUnits">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="unit">
                                        Unit for Product
                                    </label>
                                    <div class="input-group">
                                      <span class="input-group-addon">Unit</span>
                                      <select class="form-control" ng-model="units">
                                        <option value="ea">ea (each)</option>
                                        <option value="lbs">lb (pound)</option>
                                        <option value="bu">bu (bunch)</option>
                                        <option value="other">Other</option>
                                      </select>
                                  </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="productDescription">
                                        Product Description
                                    </label>
                                    <textarea class="form-control add-prod-description"  placeholder="Product Description" ng-model="productDescription"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <button type="button" class="btn btn-primary btn-block btn-signup" ng-click="addProduct();">Add Product</button>
                            </div>
                            <div class="col-md-2"></div>
                        </div>

                        <div class="row" ng-hide="successAddProduct">
                           <div class="col-md-2"></div>
                            <div class="col-md-8">
                              <div class="alert alert-success" role="alert" style="margin-top: 30px">
                   
                                 <center>Product will be listed once it is approved by the Admin!!!</center>
                  
                             </div>
                            </div>
                        <div class="col-md-2"></div>
                      </div>
                    </form>
                </div>

            </div>
        </div>