 <div class="row" >
            <div class="col-md-12">
                <h1>Add Product</h1>
                <div class="thumbnail thumbnail-signup">

                    <form role="form" name="productForm">
                        <h3>
                            Product Details
                        </h3>
                        <div class="row">
                          <div class="col-md-4">
                            <div class="thumbnail">
                              <img ngf-thumbnail="file || 'images/products/product-1.jpg'"/>
                            </div>
                            <p ng-show="fileRequired">This file is mandatory</p>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">

                                  <p>
                                  <button class="btn btn-default btn-sm" onclick="$('#fileInput').click();">Upload Picture</button>
                                  </p>
                                  <input
                                      id="fileInput"
                                      style="visibility:hidden"
                                      type="file"
                                      ngf-select
                                      ng-model="file"
                                      name="file"
                                      ngf-pattern="'image/*'"
                                      accept="image/*"
                                      ngf-max-size="20MB"
                                      required
                                  />
                              </div>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="productName">
                                        Product Name
                                    </label>
                                    <input type="text" class="form-control" id="productName" name="productName" ng-maxlength="20" ng-pattern="/[A-Za-z ]/"  autocomplete="on" autofocus aria-required="true" placeholder="Product Name" ng-model="productName" required/>
                                    <span>
                                         <span style="color:red" ng-show="productForm.ssn.$error.maxlength || productForm.ssn.$error.minlength"/>Product name must not be more than 20 characters </span>
                    <span style="color:red" ng-show="productForm.productName.$error.pattern">Product name must contain letters only</span>
                    <span style="color:red" ng-show="productForm.productName.$error.required && productForm.productName.$dirty">Please enter a name for your product</span>
                                    </span>  <span style="color:red" ng-show="productForm.productName.$error.required && productForm.productName.$dirty">Please enter a name for your product</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="price">
                                        Price
                                    </label>
                                    <div class="input-group">
                                      <span class="input-group-addon">$</span>
                                      <input type="text" class="form-control" ng-pattern="/[0-9]/"  autocomplete="on" autofocus aria-required="true" placeholder="Price" aria-label="Price" name="price" ng-model="price" required>
                                         <span>
                    <span style="color:red" ng-show="productForm.price.$error.pattern">Price must contain numbers only</span>
                    <span style="color:red" ng-show="productForm.price.$error.required && productForm.price.$dirty">Please enter a price for your product</span>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="price">
                                        Number of Units
                                    </label>
                                    <div class="input-group">
                                      <span class="input-group-addon">For</span>
                                      <input type="text" class="form-control" ng-pattern="/[0-9]/"  autocomplete="on" autofocus aria-required="true" placeholder="Number" name="noofunits" aria-label="Price" ng-model="noOfUnits" required>
                                    <span>
                    <span style="color:red" ng-show="productForm.noofunits.$error.pattern">Number Only</span>
                    <span style="color:red" ng-show="productForm.noofunits.$error.required && productForm.noofunits.$dirty">Please enter number of units</span>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="unit">
                                        Unit for Product
                                    </label>
                                    <div class="input-group">
                                      <span class="input-group-addon">Unit</span>
                                      <select class="form-control" ng-model="units" name="units" required>
                                        <option value="ea">ea (each)</option>
                                        <option value="lbs">lb (pound)</option>
                                        <option value="bu">bu (bunch)</option>
                                        <option value="other">Other</option>
                                      </select>
                                         <span>

                    <span style="color:red" ng-show="productForm.units.$error.required && productForm.units.$dirty">Please enter appropriate unit for your product</span>
                                    </span>
                                  </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="productDescription">
                                        Product Description
                                    </label>
                                    <textarea class="form-control add-prod-description"  placeholder="Product Description" name="productDescription"  ng-minlength="1" autocomplete="on" autofocus aria-required="true" ng-model="productDescription" required></textarea>
                                    <span style="color:red" ng-show="productForm.productDescription.$error.minlength"/>Product description must not be more than 140 characters</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">

                                <button type="button" class="btn btn-primary btn-block btn-signup" ng-click="addProduct();" ng-disabled="productForm.$invalid">Add Product</button>
                            </div>
                            <div class="col-md-2"></div>
                        </div>

                        <div class="row" ng-hide="successAddProduct">
                           <div class="col-md-2"></div>
                            <div class="col-md-8">
                              <div class="alert alert-success" role="alert" style="margin-top: 30px">

                                 <center>Product will be listed once it is approved by the Admin!!!</center>

                             </div>
                            </div>
                        <div class="col-md-2"></div>
                      </div>
                    </form>
                </div>

            </div>
        </div>
