  <div class="thumbnail thumbnail-signup" >
            <h1>My Profile</h1>
            <form role="form" >
              <h3>
                Personal Details
              </h3>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="firstName">
                      First Name
                    </label>
                    <input type="text" class="form-control" id="firstName" placeholder="First Name" ng-model="first_name"/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="lastName">
                      Last Name
                    </label>
                    <input type="text" class="form-control" id="lastName"  placeholder="Last Name" ng-model="last_name"/>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="ssn">
                      SSN
                    </label>
                    <input type="text" class="form-control" id="ssn"  placeholder="Social Security Number" ng-model="ssn"/>
                  </div>
                </div>
              </div>
              <hr>
               <h3>
                Address & Contact
              </h3>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="address">
                      Address
                    </label>
                    <textarea class="form-control textbox-address"  placeholder="Address" ng-model="address"></textarea>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="city">
                      City
                    </label>
                    <input type="text" class="form-control" placeholder="City" ng-model="city"/>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="state">
                      State
                    </label>
                    <input type="text" class="form-control" placeholder="State" ng-model="state"/>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="zip">
                      Zip
                    </label>
                    <input type="text" class="form-control" placeholder="Zip" ng-model="zip_code"/>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputEmail">
                      Phone
                    </label>
                    <input type="text" class="form-control" placeholder="Phone" ng-model="phone"/>
                  </div>
                </div>
              </div>
              <input type="hidden" ng-model="">
              <hr>
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                  <button type="button" class="btn btn-primary btn-block btn-signup" ng-click="updateProfile()">Update</button>
                </div>
                <div class="col-md-2"></div>
              </div>

               <div class="row row-margin">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                  <button type="button" class="btn btn-danger btn-block btn-delete" id="modal-6492209" href="#modal-container-6492209" data-toggle="modal">Delete My Account</button>
                </div>
                <div class="col-md-2"></div>
              </div>

              <div class="row" ng-hide="successUpdateProfile">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                <div class="alert alert-success" role="alert" style="margin-top: 30px">
                   
                      <center>Details Updated <strong>Successfully</strong>!!!</center>
                  
                </div>
                  
                </div>
                <div class="col-md-2"></div>
              </div>
            </form>
          </div>


  <!-- ---------------DELETE MODAL --------- -->

  <div class="modal fade" id="modal-container-6492209" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">

              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </div>
            <form name="reviewForm">
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <center>
                     <h2> Are you sure you want to delete your account?</h2>
                    <center>
                   
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">
                Cancel
              </button>
              <button type="submit" class="btn btn-danger" data-dismiss="modal" ng-click="deleteProfile()">
                Delete
              </button>
            </div>
            </form>
          </div>

        </div>

      </div>      