<div class="row row-margin-none">
    <div class="col-md-12">
      <ul class="nav nav-pills navbar-fixed-top header-nav">
      <li>
          <a class="img-logo" href="/" id=""><img alt="AmazonFresh Home" src="images/support_images/af-logo-white.png"><span></span></a>
      </li>
      <li class="dropdown">
             <a class="dropdown-toggle" data-toggle="dropdown">
               Hi, {{firstName}} {{lastName}}<span></span><strong class="caret"></strong>
             </a>
            <ul class="dropdown-menu accout-dropdown-menu">
              <li>
                <a href="/farmerProfile/{{userId}}">Your Account</a>
              </li>
              <li>
                <a href="/logout">Sign Out</a>
              </li>
            </ul>
      </li>
  </ul>

    </div>
</div>
