<div class="footer">
<div class="row">
  <div class="col-md-12">
    <div>
        <p><a style="text-decoration:none;color: white" href="/">Home</a></p>
        <p><a style="text-decoration:none;color: white" href="/farmerSignup">Sell on AmazonFresh<sup class="sup-plus">+</sup></a></p>
        <p><a style="text-decoration:none;color: white" href="#">Privacy Notice</a></p>
    </div>
  </div>
</div>
</div>
