<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div>
        <div class="column">
          <p><a style="text-decoration:none;color: white" href="#">Home</a></p>
          <p><a style="text-decoration:none;color: white"  href="#">Conditions Of Use</a></p>
          <a style="text-decoration:none;color: white" href="#">Privacy Notice</a>
        </div>
      </div><font color="white" style="padding: 14px" >© 2007-2016 AmazonFresh, LLC or its affiliates   All items sold by and ship from AmazonFresh unless otherwise specified.</font>
    </div>
  </div>
</div>
