<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills navbar-fixed-top header-nav">
            <li>
                <a class="img-logo" href="/" id=""><img alt="AmazonFresh Home" src="images/support_images/af-logo-white.png"><span></span></a>
            </li>
            <li class="text">
                Already have an AmazonFresh<sup class="sup-plus">+</sup> account?
            </li>
            <li class="signin" id="modal-748235" href="#modal-container-748235" >
                <a href="#modal-container-748235" data-toggle="modal">Sign in.</a>
            </li>
        </ul>
    </div>
</div>

<!-- _________________________________________________LOGIN MODAL____________________________________________ -->

<div ng-controller="LoginController">
  <div class="modal fade" id="modal-container-748235" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="a-section a-padding-medium auth-workflow container-fluid">
            <div class="a-section">
              <!-- show a warning modal dialog when the third party account is connected with Amazon -->
              <div class="a-section a-spacing-base auth-pagelet-container">
                <div class="a-section">
                  <form class="a-spacing-none" name="signIn">
                    <div class="a-section">
                      <div class="a-box">
                        <div class="a-box-inner a-padding-extra-large">
                          <h1 class="a-spacing-small">Sign in</h1>
                          <div class="a-row a-spacing-base">
                            <div ng-hide="isPending">
                              <strong>Your account is currently pending approval.</strong>
                            </div>
                            <div ng-hide="isNotApproved">
                              <strong>Unfortunately,we couldn't approve your account.Please contact the help desk for more information. </strong>
                            </div>
                            <label for="ap_email">Email ID</label>
                            <input class="a-input-text a-span12 auth-autofocus auth-required-field"
                            id="ap_email" maxlength="128" name="email" tabindex="1" type="email" ng-model="email" required>
                            <span style="color:red" ng-show="signIn.email.$error.required && signIn.email.$dirty">Email is required</span>
                          </div>
                          <div class="a-section a-spacing-large">
                            <div class="a-row">
                              <div class="a-column a-span5">
                                <label for="ap_password">Password</label>
                              </div>
                              <div class="a-column a-span7 a-text-right a-span-last">
                                <a class="a-spacing-null a-link-normal" href=
                                "/forgotPassword"
                                id="auth-fpp-link-bottom">Forgot your password?</a>
                              </div>
                            </div>
                            <input class="a-input-text a-span12 auth-required-field" id="ap_password" name="password" tabindex="2" type="password" ng-model="password" required>
                            <span style="color:red" ng-show="signIn.password.$error.required && signIn.password.$dirty">Password is required</span>
                            <div  ng-hide="invalidLogin">
                              <strong>Incorrect username or password</strong>
                            </div>

                            <div ng-hide="unexpectedError">
                              <strong>Unexpected error,try again</strong>
                            </div>
                          </div>
                          <div class="a-section a-spacing-extra-large">
                            <span class="a-button a-button-span12 a-button-primary" id="a-autoid-0"><span class="a-button-inner"><input aria-labelledby=

                              "a-autoid-0-announce" class="a-button-input" id="signInSubmit" tabindex="5" type="button" ng-click="submit();"  ng-disabled="signIn.$invalid"> <span aria-hidden="true" class=
                              "a-button-text" id="a-autoid-0-announce">Sign in</span></span></span>
                            </div>


                            <div class="a-divider a-divider-break">
                              <h5>New to Amazon?</h5>
                            </div>

                            <span class="a-button a-button-span12" id="auth-create-account-link">
                              <span class="a-button-inner">
                                <a class="a-button-text" href="/signUp" id="createAccountSubmit" role="button" tabindex="6">
                                  Create your Amazon account
                                </a>
                              </span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  </div>
