<div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills navbar-fixed-top header-nav">
      <li>
          <a class="img-logo" href="/" id=""><img alt="AmazonFresh Home" src="images/support_images/af-logo-white.png"><span></span></a>
      </li>
      <li class="dropdown">
             <a class="dropdown-toggle" data-toggle="dropdown">
               Hi, {{firstName}} {{lastName}}<span></span><strong class="caret"></strong>
             </a>
            <ul class="dropdown-menu accout-dropdown-menu">
              <li>
                <a href="/customerAccount">Your Account</a>
              </li>
              <li>
                <a href="#">Manage Your Dash</a>
              </li>
              <li>
                <a href="#">Help</a>
              </li>
              <li class="divider">
              </li>
              <li>
                <a href="/logout">Sign Out</a>
              </li>
            </ul>
      </li>
      <li>
          <a href="https://fresh.amazon.com/AllOrders">Your Deliveries</a>
      </li>
      <li>
          <a href="https://fresh.amazon.com/#" id="">Messages <span class="message-count"></span></a>
      </li>
      <li>
          <a href="https://fresh.amazon.com/MyList?ref_=nav_lists" id="">Your Lists</a>
      </li>
      <li>
          <a href="/PastPurchases" id="">Past Purchases</a>
      </li>
  </ul>

    </div>
</div>
