<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills navbar-fixed-top header-nav">
            <li>
                <a class="img-logo" href="/" id=""><img alt="AmazonFresh Home" src="images/support_images/af-logo-white.png"><span></span></a>
            </li>
            <li class="text">
                Already an AmazonFresh customer?
            </li>
            <li class="signin">
                <a href="/signin">Sign in.</a>
            </li>
        </ul>
    </div>
</div>
