<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills navbar-fixed-top header-nav">
            <li>
                <a class="img-logo" href="/" id=""><img alt="AmazonFresh Home" src="images/support_images/af-logo-white.png"><span></span></a>
            </li>
            <li class="text">
                Already have an AmazonFresh<sup class="sup-plus">+</sup> account?
            </li>
            <li class="signin" id="modal-748235" href="#modal-container-748235" >
                <a href="#modal-container-748235" data-toggle="modal">Sign in.</a>
            </li>
        </ul>
    </div>
</div>
