<div ng-show="true"> <!-- Add product notofications -->
  <span class="admin-page-title">Approval Requests :</span><span class="admin-page-title-cat"> Product</span>
    <div class="thumbnail">
      <div class="row row-margin-none">
      <div class="col-md-2">
        <div>
          <img src="images/products/product-1.jpg" />
        </div>
      </div>
      <div class="col-md-8">
        <h2 class="product-page-product-name">
          Farmers Market Peach Conserve, 8.6 oz
        </h2>
        <div class="product-page-ratings-img">
          <img src="images/support_images/0-stars.png"/>
          (0)
        </div>
        <div class="product-page-price">
          <span class="price">$6.00</span>
          <span class="unit-price">($0.77/oz)</span>
        </div>
        <div class="row row-margin">
          <div class="col-md-12">
              <h3>Product Description</h2>
              <p>Made with the juiciest of the farm's tree-ripened peaches, Frog Hollow's Peach Conserve contains less than 20% added sugar, bringing you all the naturally sweet goodness of their peaches in a smooth spreadable fruit. Have it in the morning with your pancakes, on waffles or french toast, or try it as a delightful summery snack with cottage cheese and yogurt. Feeling like you want an even sweeter treat? Top off a scoop of your favorite ice cream with a spoonful of peaches!</p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="row">
          <button class="btn btn-success btn-xs btn-theme btn-theme-narrow pull-right">
            <span class="pull-left">Approve</span>
            <span class="badge pull-right">
              <span class="glyphicon glyphicon-ok" aria-hidden="true">
              </span>
            </span>
          </button>
        </div>
        <div class="row">
          <button class="btn btn-danger btn-xs btn-theme btn-theme-narrow pull-right">
            <span class="pull-left">Reject</span>
            <span class="badge pull-right">
              <span class="glyphicon glyphicon-remove" aria-hidden="true">
              </span>
            </span>
          </button>
        </div>
      </div>
    </div>
    </div>

    <div class="thumbnail">
      <div class="row row-margin-none">
      <div class="col-md-2">
        <div>
          <img src="images/products/product-1.jpg" />
        </div>
      </div>
      <div class="col-md-8">
        <h2 class="product-page-product-name">
          Farmers Market Peach Conserve, 8.6 oz
        </h2>
        <div class="product-page-ratings-img">
          <img src="images/support_images/0-stars.png"/>
          (0)
        </div>
        <div class="product-page-price">
          <span class="price">$6.00</span>
          <span class="unit-price">($0.77/oz)</span>
        </div>
        <div class="row row-margin">
          <div class="col-md-12">
              <h3>Product Description</h2>
              <p>Made with the juiciest of the farm's tree-ripened peaches, Frog Hollow's Peach Conserve contains less than 20% added sugar, bringing you all the naturally sweet goodness of their peaches in a smooth spreadable fruit. Have it in the morning with your pancakes, on waffles or french toast, or try it as a delightful summery snack with cottage cheese and yogurt. Feeling like you want an even sweeter treat? Top off a scoop of your favorite ice cream with a spoonful of peaches!</p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="row">
          <button class="btn btn-success btn-xs btn-theme btn-theme-narrow pull-right">
            <span class="pull-left">Approve</span>
            <span class="badge pull-right">
              <span class="glyphicon glyphicon-ok" aria-hidden="true">
              </span>
            </span>
          </button>
        </div>
        <div class="row">
          <button class="btn btn-danger btn-xs btn-theme btn-theme-narrow pull-right">
            <span class="pull-left">Reject</span>
            <span class="badge pull-right">
              <span class="glyphicon glyphicon-remove" aria-hidden="true">
              </span>
            </span>
          </button>
        </div>
      </div>
    </div>
    </div>

  </div> <!-- FINISHED Add product notofications -->
