<div> <!-- add customer notifications -->
  <span class="admin-page-title">Approval Requests :</span><span class="admin-page-title-cat"> Customer</span>
  <div class="thumbnail"  ng-repeat = "customer in pendingCustomers">
    <div class="row row-margin-none">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-2 approve-col-1">
            <h5>Name <span class="pull-right">:</span></h5>
          </div>
          <div class="col-md-6">
            <span>{{customer.FIRST_NAME}} {{customer.LAST_NAME}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 approve-col-1">
            <h5>Email Id <span class="pull-right">:</span></h5>
          </div>
          <div class="col-md-6">
            <span>{{customer.EMAIL}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 approve-col-1">
            <h5>Address <span class="pull-right">:</span></h5>
          </div>
          <div class="col-md-6 address-line">
            <p>{{customer.ADDRESS}}</p>
            <p>Apt 332</p>
            <p>San Jose, CA 95112</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 approve-col-1">
            <h5>Phone <span class="pull-right">:</span></h5>
          </div>
          <div class="col-md-6">
            <span>{{customer.PHONE_NUMBER}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 approve-col-1">
            <h5>SSN <span class="pull-right">:</span></h5>
          </div>
          <div class="col-md-6  ">
            <span>XX-XX-XXX</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 approve-col-1">
            <h5>Credit Card <span class="pull-right">:</span></h5>
          </div>
          <div class="col-md-6  ">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span>XXXX-XXXX-XXXX-{{customer.CARD_NUMBER | limitTo:-4}} (Validated)</span>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="row" ng-show="{{customer.IS_APPROVED}} == 1">
          <button class="btn btn-success btn-xs btn-theme btn-theme-narrow pull-right" ng-click="approveCustomer(customer.USER_ID)">
            <span class="pull-left">Approve</span>
            <span class="badge pull-right">
              <span class="glyphicon glyphicon-ok" aria-hidden="true">
              </span>
            </span>
          </button>
        </div>
        <div class="row" ng-show="{{customer.IS_APPROVED}} == 2">
          <button class="btn btn-danger btn-xs btn-theme btn-theme-narrow pull-right" ng-click="rejectCustomer(customer.USER_ID)">
            <span class="pull-left">Reject</span>
            <span class="badge pull-right">
              <span class="glyphicon glyphicon-remove" aria-hidden="true">
              </span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div><!-- FINISHED add customer notification -->
