<div> <!-- add customer notifications -->
  <span class="admin-page-title">Bills :</span>
  <div class="thumbnail" ng-repeat="bill in allBills | orderBy : 'BILL_ID'">
    <div class="row row-margin-none order-header">
      <div class="col-md-3">
        <h6>Order placed on</h6>
        <span>{{bill.BILLING_DATE | date : 'MMM d, y h:mm:ss a' : '-0700'}}</span>
      </div>
      <div class="col-md-3">
        <h6>TOTAL PRICE</h6>
        <span>{{bill.TOTAL_AMOUNT | currency}}</span>
      </div>
      <div class="col-md-3">
        <h6>Delivered To</h6>
        <span>{{bill.CUSTOMER_NAME}}</span>
      </div>
      <div class="col-md-3">
        <h6>BILL ID # {{bill.BILL_ID}}</h6>

      </div>
    </div>
    <div class="row row-margin-none" style="padding-top : 5px;">
      <div class="col-md-12">
        <div class="col-md-6">
        <div class="row">
          <div class="col-md-3 approve-col-1">
            <h5>Address <span class="pull-right">:</span></h5>
          </div>
          <div class="col-md-9 address-line">
            <p>{{bill.ADDRESS}}</p>
            <p>{{bill.CITY}}, {{bill.STATE}} {{bill.ZIP}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 approve-col-1">
            <h5>Phone <span class="pull-right">:</span></h5>
          </div>
          <div class="col-md-9">
            <span>{{bill.PHONE}}</span>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <h3>Items ordered :</h3>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <div class="thumbnail bill-cart" ng-repeat="product in bill.PRODUCTS"> <!-- This will have ng-repeat. Remove the hardcoded items -->
              <div class="row">
                <div class="bill-cart-item-pad">
                  <div class="media">
                    <a href="#" class="pull-left"><img alt="" src="../uploads/{{product.FILE_NAME}}" class="media-object bill-item-img"></a>
                    <div class="media-body">
                      <a href="/products/{{product.PRODUCT_ID}}" class="bill-cart-item-name ng-binding">{{product.PRODUCT_NAME}}</a>
                      <h6>
                        <span class="bill-cart-item-price ng-binding">{{product.PRICE | currency}}</span>
                      </h6>
                      <h6>
                        <span class="bill-cart-item-price ng-binding">Qty : {{product.QTY}}</span>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
</div><!-- FINISHED add customer notification -->
