<input type="hidden" name="jsonData" value="{{allDeliveries}}" id="deliveries" />
<div id="map"></div>
    <script>

      // This example creates a 2-pixel-wide red polyline showing the path of William
      // Kingsford Smith's first trans-Pacific flight between Oakland, CA, and
      // Brisbane, Australia.

      
      
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8Tz_zXflokyLiIqLdW02Oj5Y44T_GCCs">
    </script>