<div> <!-- Add product notofications -->
  <span class="admin-page-title">Trips :</span>
  <div class="thumbnail">

    <div class="row" style="text-align : center;">
        <div fusioncharts
         width="90%"
         height="400"
         type="mscolumn2d"
         dataSource="{{myDataSource}}" >
      </div>
    </div>

  </div>
</div>
