

            <h1 class="great">Great !!</h1>
            <h3 style="color: #666666;">Your order has been confirmed.</h3>
            <h5 style="color: #666666;">The delivery truck will be on the way soon.</h5>
