
          <h3>
            Delivery Details
          </h3>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="city">
                  Name
                </label>
                <input type="text" class="form-control" placeholder="Name" ng-model="city"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="address">
                  Address
                </label>
                <textarea class="form-control textbox-address"  placeholder="Address" ng-model="address"></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="city">
                  City
                </label>
                <input type="text" class="form-control" placeholder="City" ng-model="city"/>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="state">
                  State
                </label>
                <input type="text" class="form-control" placeholder="State" ng-model="state"/>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="zip">
                  Zip
                </label>


                <input type="text" class="form-control" placeholder="Zip" ng-model="zip"/>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail">
                  Phone
                </label>
                <input type="text" class="form-control" placeholder="Phone" ng-model="phone"/>
              </div>
            </div>
          </div>
