
          <h3>
            Review Order
          </h3>

          <div class="row">
            <div class="col-md-12">
                <label for="city">Order Details</label>
            </div>
            <div class="thumbnail bill-cart"  ng-repeat = "item in cart"> <!-- This will have ng-repeat. Remove the hardcoded items -->
                <div class="row">
                  <div class="col-md-2 bill-cart-qty-pad">
                    <fieldset class="input-group-vertical">
                      <button class="btn btn-default bill-cart-qty-btn" ng-click="plusQTY($index)">
                        <span class="glyphicon glyphicon-plus gly-plus-minus"></span>
                      </button>
                      <div class="">
                        <input type="text" class="form-control bill-cart-qty" ng-model="item.QTY" disabled/>
                      </div>
                      <button class="btn btn-default bill-cart-qty-btn" ng-click="minusQTY($index)">
                        <span class="glyphicon glyphicon-minus gly-plus-minus"></span>
                      </button>
                    </fieldset>
                  </div>
                  <div class="col-md-8 bill-cart-item-pad">
                    <div class="media">
                      <a class="pull-left" href="#"><img class="media-object bill-item-img" alt="" src="../uploads/{{item.FILE_NAME}}"></a>
                      <div class="media-body">
                          <a class="bill-cart-item-name ng-binding">{{item.PRODUCT_NAME}}</a>
                        <h6>
                            <span class="bill-cart-item-price ng-binding">{{item.PRICE | currency}}</span>
                        </h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 bill-cart-remove-pad">
                    <img class="bill-cart-remove-item" alt="x" src="../images/support_images/remove-item.png" ng-click="removeItemFromCart($index);">
                  </div>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-3 approve-col-1">
              <h5>Delivery Address <span class="pull-right">:</span></h5>
            </div>
            <div class="col-md-6 address-line">
              <p>{{deliveryDetails.address}}</p>
              <p>{{deliveryDetails.city}}</p>
              <p>{{deliveryDetails.state}} - {{deliveryDetails.zip}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 approve-col-1">
              <h5>Payment <span class="pull-right">:</span></h5>
            </div>
            <div class="col-md-6  ">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              <span>XXXX-XXXX-XXXX-{{creditCardNumber | limitTo:-4}} (Validated)</span>
            </div>
          </div>
